$primary-color: #82d8df ;
$secondary-color: #1da3af;
$mainFont: 'Poppins', sans-serif;
$secondaryFont: 'Indie Flower', cursive;
$logoFont: 'Varela Round', sans-serif;

//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;